p{
    background-color: brown;
}
a{
    background-color: rgb(209, 173, 243);
}
#one{
    background-color: yellow;
}
#two{
    background-color: aqua;
}
span{
    background-color: hotpink;
}
h1{
    background-color: palevioletred;
}